[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
crispy-bootstrap5 = "*"
django-crispy-forms = "*"
django-environ = "*"
pymysql = "*"
django-unique-user-email = "*"

[dev-packages]
pytest-django = "*"

[requires]
python_version = "3.12"
