[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
crispy-bootstrap5 = "*"
django-crispy-forms = "*"
django-unique-user-email = {editable = true, ref = "translations", git = "git+https://github.com/tchappui/django-unique-user-email.git"}
django-environ = "*"

[dev-packages]
pytest-django = "*"

[requires]
python_version = "3.12"
