{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Vive les Points | Vive les Points{% endblock title %}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'points/style.css' %}">
  <script src="{% static 'points/script.js' %}"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <style>
    html, body {
      height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    main {
      flex: 1; /* prend toute la hauteur restante */
    }
  </style>
</head>

<body>
  <header>
    <div class="container">
      <a class="text-center" href="{% url 'points:dashboard' %}">
        <h1 class="p-1 text-light" style="font-family: 'Bungee Spice', sans-serif;">Vive les Points!</h1>
      </a>
    </div>
  </header>

  <main>
    {% if messages %}
      <div class="alerts-stack position-sticky top-0 start-0 end-0" style="z-index:1080;">
        <div class="container pt-2">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm mb-3" role="alert">
              {{ message|safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% block content %}{% endblock content %}
  </main>

  <footer class="bg-warning text-center border mt-auto">
    <div class="container">
      <div class="row align-items-center" style="height: 60px;">
        
        <!-- Colonne gauche : connexion / déconnexion -->
        <div class="col-4 text-start">
          {% if user.is_authenticated %}
            <form method="post" action="{% url 'famille:logout' %}" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger btn-sm">Se déconnecter</button>
            </form>
          {% else %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'famille:login' %}">Se connecter</a>
          {% endif %}
        </div>

        <!-- Colonne centrale : liens généraux -->
        <div class="col-4 text-center d-flex flex-column flex-md-row justify-content-center gap-2">
          <a class="btn-link btn-primary" href="{% url 'points:bareme' %}" style="font-family: 'Bungee Spice', sans-serif;">Barêmes</a>

          {% if user.is_authenticated and user.profile.role == "parent" %}
            <a class="btn-link btn-primary" href="{% url 'famille:manage_account' %}" style="font-family: 'Bungee Spice', sans-serif;">Mon compte</a>
          {% endif %}
        </div>

        <!-- Colonne droite : copyright -->
        <div class="col-4 text-end">
          <p class="text-dark m-0">© 2024 - Mathieu Cazenave</p>
        </div>

      </div>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
